@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

$main-font: 'Sources Sans Pro', sans-serif;

:root {
  --main-font: 'Sources Sans Pro', sans-serif;
}

* {
  font-family: var(--main-font);
}