@import 'config/all';

:root {
  --selected: #004266;
  --border-grey: #828282;
}

body {
  width: 300px;
  height: 400px;
  margin: 0;

  #app {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}